version: '3.8'
services:
    backend:
        build: ./backend_a11y
        ports:
            - '3001:3001'
        env_file: ./backend_a11y/.env # 루트에 있는 .env 사용
        restart: always

    worker:
        build: ./worker
        ports:
            - '4000:4000'
        env_file: .env # 같은 .env를 공유하거나 따로 지정 가능
        restart: always
