version: '3.8'

services:
    # 1. 데이터베이스 추가
    db:
        image: postgres:15-alpine
        restart: always
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: moon
            POSTGRES_DB: postgres
        ports:
            - '5432:5432'
        volumes:
            - ./postgres_data:/var/lib/postgresql/data

    # 2. 백엔드
    backend:
        build: ./backend_a11y
        ports:
            - '3001:3001'
        env_file: .env
        restart: always
        depends_on:
            - db

    # 3. 워커
    worker:
        build: ./worker
        ports:
            - '4000:4000'
        env_file: .env
        restart: always
        depends_on:
            - db
