version: '3.8'

services:
    db:
        image: postgres:15-alpine
        container_name: a11y_db
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: moon
            POSTGRES_DB: postgres
        ports:
            - '5432:5432'
        volumes:
            - ./postgres_data:/var/lib/postgresql/data

    backend:
        build: ./backend_a11y # 해당 폴더의 Dockerfile을 읽어서 빌드해!
        container_name: nest_api
        ports:
            - '3001:3001'
        depends_on:
            - db
        environment:
            DATABASE_URL: postgresql://user:password@db:5432/main_db

    frontend:
        build: ./frontend_a11y
        container_name: next_web
        ports:
            - '3000:3000' # 외부 3000번 포트로 접속
        depends_on:
            - backend

    worker:
        build: ./worker
        container_name: node_worker
        depends_on:
            - db
