name: Deploy to EC2

on:
    push:
        branches:
            - main # 메인 브랜치에 푸시될 때만 작동

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Deploy to EC2 via SSH
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USERNAME }}
                  key: ${{ secrets.KEY }}
                  script: |
                      cd ~/apps/MY_NEW_PROJECT
                      git pull origin main
                      # 기존 컨테이너 중지 및 새 이미지 빌드 후 실행
                      docker-compose up -d --build
                      # 미사용 이미지 정리 (용량 확보)
                      docker image prune -f
